
Final/Final.pdf
Final/Final.synctex.gz
Final/Final.aux
Final/Final.log
Final/Final.out
Final/Final.synctex.gz
Final/Final.toc

Section IV/Batteries.aux
Section IV/Batteries.log
Section IV/Batteries.out
Section IV/Batteries.pdf
Section IV/Batteries.synctex.gz
Section IV/Batteries.pdf
Final/Final.synctex.gz
Final/Final.log
Final/Glosary.log
